<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>TM</title>
</head>
<body>
	<div ng-include="'pages/popups/reportPopups.html'"></div>
	<br>
	<ol class="breadcrumb">
		<li><a style="color: #aaa;" data-ng-click="redirectToMyApps()" data-ng-controller="rootController"><span class="glyphicon glyphicon-th"></span> {{'breadcrumb.applications' | translate}}</a></li>
		<li class="active"><span class="glyphicon glyphicon-signal"></span> Reports</li>
	</ol>
	<table class="table table-striped" style="font-size: 10px;">
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>VIEW AS</th>
		</tr>
		<tr>
			<td>TM-000000001</td>
			<td>Issue Status report</td>
			<td>
				<a data-ng-click="openSelectProjectBox()" style="margin-left: 20px;"><img src="images/pdf.png" class="reportIcon" height="24" width="24" /></a>
				<a href="/output?__report=reports/issue-status.rptdesign&__format=xls"
					target="_blank" style="margin-left: 20px;" class="underlinedLink"><img src="images/excel.png" class="reportIcon" height="24" width="24" /></a>
				<a href="/output?__report=reports/issue-status.rptdesign&__format=doc"
					target="_blank" style="margin-left: 20px;" class="underlinedLink"><img src="images/doc.gif" class="reportIcon" height="24" width="24" /></a>
				<a href="/output?__report=reports/issue-status.rptdesign&__format=ppt"
					target="_blank" style="margin-left: 20px;" class="underlinedLink"><img src="images/ppt.png" class="reportIcon" height="24" width="24" /></a>
			</td>
		</tr>
	</table>
</body>
</html>